<html style="background-color:#FFFFFF;">
  <head>
    <title>Covid Visualization</title>
  </head>
  <body>
    <h1 style="font-family:helvetica">Covid Visualization</h1>
    <img src="{{ url_for('video_feed') }}" width="700" height="800">
    <p style="font-family:helvetica; font-size:30px">This visualization models the spread of an infectious disease like COVID-19 for two scenarios: if each infected person in turn infects either <b>1.1</b> or <b>1.4</b> people (on average).</p>
  </body>
</html>